<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sign Up</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>

<header> 
    <div class="container">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-1"><a href="/g_stock">Main</a></div>
            <div class="col-1"><a href="/Forum">Forum</a></div>
            <div class="col-1"><a href="/register">Register</a></div>
            <div class="col-1"><a href="/login">Login</a></div> 
        </div>
    </div>
</header>

<body>
    <h1>Make an Account</h1>
    <%- message %>
<form method="post" action="/registerUser"> <!-- IMPORTANT. input "name" must be the same as database attribute name!!-->
  <p>
    <label for="uid">New Username:</label>
    <input type="text" name="uid" id="uid">
  </p>
  <p>
    <label for="pw">New Password:</label>
    <input type="text" name="pw" id="pw">
  </p>
  <p>
    <label for="firstname">First Name:</label>
    <input type="text" name="firstname" id="firstname">
  </p>
  <p>
    <label for="lastname">Last Name:</label>
    <input type="text" name="lastname" id="lastname">
  </p>
  <p>
    <label for="email">E-mail Address:</label>
    <input type="text" name="email" id="email">
  </p>
  <p>
    <input type="Submit" value="Submit">
  </p>
</form>
</body>
</html>